/* @import url('https://fonts.googleapis.com/css?family=Cookie'); */


:root{
  /* white */
  --main-color: #fff;

  /* Blue */
  /* --main-color: #1c9ded; */

  /* Matrix Green */
  /* --main-color: #00ff15; */
}

/* definition */

@font-face {

  font-family: CaskaydiaMonoNerdFontMono;
  src: url('fonts/CascadiaMono/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');

  /* font-family: FiraMono;
  src: url('fonts/FiraMono/FiraMonoNerdFontMono-Regular.otf') format('opentype'); */

  /* font-family: ShureTechMono;
  src: url('fonts/ShareTechMono/ShureTechMonoNerdFontMono-Regular.ttf') format('truetype'); */

  /* src: url('fonts/EntezareZohoor2.eot?') format('☺'), */
       /* url('fonts/EntezareZohoor2.woff') format('woff'), */
       /* url('fonts/EntezareZohoor2.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}




* {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'CaskaydiaMonoNerdFontMono';
  /* font-family: 'FiraMono'; */
  /* font-family: 'ShureTechMono'; */
  color: #797979;
}

b{
  color: var(--main-color);
  text-shadow: 0 0 0.5rem var(--main-color); 
  opacity: 0.8;
}

body{
  background-color: #000;
  padding: 2rem;
}

.emptyline{
  height: 1rem;
  width: 100%;
}

.line_done{
  border-radius: 1rem;
  color: #fff;
  animation: flashColor 1s ease forwards;
}

a{
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: var(--main-color);
}

/* selected link */
a:active {
  color: var(--main-color);
}


@keyframes flashColor {
  


  /* 0% { color: #000; } */
  50% { 
    color: var(--main-color); 
    text-shadow: 0 0 2rem var(--main-color); 
  }
  90%{
    text-shadow: 0 0 0rem var(--main-color); 
  }
  100% {
     color: #fff; 
     text-shadow: none;
    }
}