/* @import url('https://fonts.googleapis.com/css?family=Cookie'); */


:root{
  /* white */
  /* --main-color: #fff; */

  /* Blue */
  /* --main-color: #1c9ded; */

  /* Matrix Green */
  --main-color: #00ff15;
}

/* definition */

@font-face {

  font-family: CaskaydiaMonoNerdFontMono;
  src: url('fonts/CascadiaMono/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');

  font-family: FiraMono;
  src: url('fonts/FiraMono/FiraMonoNerdFontMono-Regular.otf') format('opentype');

  /* font-family: ShureTechMono;
  src: url('fonts/ShareTechMono/ShureTechMonoNerdFontMono-Regular.ttf') format('truetype'); */

  /* src: url('fonts/EntezareZohoor2.eot?') format('☺'), */
       /* url('fonts/EntezareZohoor2.woff') format('woff'), */
       /* url('fonts/EntezareZohoor2.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}




* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* font-weight: 100; */
  /* font-family: 'CaskaydiaMonoNerdFontMono'; */
  /* font-family: 'FiraMono'; */
  /* font-family: 'ShureTechMono'; */
  /* color: #797979; */
  color: #fff;
  /* color: #afafaf; */
}

/* b{
  color: var(--main-color);
  text-shadow: 0 0 0.5rem var(--main-color); 
  opacity: 0.8;
} */

body{
  background-color: #000;
  padding: 1rem;

  overflow-wrap: normal;
  overflow-wrap: break-word;

  min-height: 100vh;
}

.emptyline{
  height: 1rem;
  width: 100%;
}



char{
  color: var(--main-color);
  /* color: #fff; */
  text-shadow: 0 0 1rem var(--main-color); 

  /* text-shadow: 
  -0.1rem 0 1rem var(--main-color),
  0 0 1rem var(--main-color),
  0.1rem 0 1rem var(--main-color)
  ;  */

  transition: all 2s ease-out;
}

.char-done{
  color: #fff;
  text-shadow: 0 0 0rem var(--main-color); 
  /* transition: all 10s ease-out; */

  /* transition: all 0s ease-out; */
  /* animation: flashColor 5s ease-out; */
}


.char-done:hover{

  text-shadow: 
  -0.1rem 0 1rem var(--main-color),
  0 0 1rem var(--main-color),
  0.1rem 0 1rem var(--main-color)
  ; 

  transition: all 0s ease-out;
}



a{
  text-decoration: none;
  
}


/* i don't know what to do with hover links */
a div:hover{
  /* background-color: var(--main-color); */
  /* filter: blur(1rem); */

  /* background: radial-gradient(circle, var(--main-color) 0%, rgba(0,0,0,0) 100%); */

  
  /* background: linear-gradient(90deg,rgba(0,0,0,0) 0%, var(--main-color) 0.25rem, rgba(0,0,0,0) 0.5rem); */
  /* background: radial-gradient(circle,rgba(0,0,0,0) 0%, var(--main-color) 0.25rem, rgba(0,0,0,0) 0.5rem); */
  /* border-radius: 0.25rem; */
  /* filter: blur(1px); */
}




